<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.playfinity.recorder.application.RecorderApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.playfinity.recorder.presentation.MainActivity"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.playfinity.recorder.presentation.SmartBallActivity"
            android:launchMode="singleInstance"
            android:exported="true">
        </activity>

        <activity
            android:name="com.playfinity.recorder.presentation.FootballActivity"
            android:launchMode="singleInstance"
            android:exported="true">
        </activity>

        <meta-data
            android:name="io.playfinity.sdk.applicationKey"
            android:value="@string/PFI_APP_KEY" />
        <meta-data
            android:name="io.playfinity.sdk.developerId"
            android:value="@string/PFI_DEV_KEY" />
        <meta-data
            android:name="io.playfinity.sdk.apiUrl"
            android:value="@string/PFI_API_URL" />
        <meta-data
            android:name="io.playfinity.sdk.cloudApiUrl"
            android:value="@string/PFI_CLOUD_API_URL" />

    </application>

</manifest>
